.tag-clip {
    color: green;
    font-style: italic;
    cursor: pointer;
}
.tag-clip:hover { text-decoration: underline; }
table .tag-clip { font-size: 12px; }

.input-file-s3, .input-file-s3-css {
    margin-left: 15px;
}
.preview-image img { 
    width: 100px; 
    padding-top: 10px;
}

input.changed {
    background: #d4ecf3;
}

#languages-wrapper ul {
    height: 380px;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    border: 2px solid grey;
}
#languages-wrapper ul li {
    padding: 5px 15px;
    display: none;
}
#languages-wrapper li.selected {
    background: #2196f3;
}
#languages-wrapper li.active {
    display: block;
}

.nav-link {
    padding: 0.5rem 0.8rem;
}