.tag-clip {
    color: green;
    font-style: italic;
    cursor: pointer;
}
.tag-clip:hover { text-decoration: underline; }
table .tag-clip { font-size: 12px; }

.input-file-s3, .input-file-s3-css {
    margin-left: 15px;
}
.preview-image img { 
    width: 100px; 
    padding-top: 10px;
}

input.changed {
    background: #d4ecf3;
}