/* Sticky footer styles
-------------------------------------------------- */
*, *:focus, *:hover {
    outline: none;
}

html,body  {
    background-color: #121212;
    color:#fff;
}

header {
    background-color: #121212;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,rgba(0,0,0,.7)),color-stop(10%,rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: -moz- oldlinear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: -o-linear-gradient(top,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}

.navbar-brand img {
    width:200px;
}

.form-control-plaintext {
    color:white;
}

.field-validation-error {
    color: #dc3545;
}

.has-countdown .ask-question {
    display: none;
}

.ask-question-form textarea {
    max-width:100%;
    margin-right: 10px;
}

.hide-questions .question, .hide-questions .reply, .hide-questions .reply-box {
    display: none;
}

.user-thread {
    background-color: #333;
    margin-bottom:10px;
    padding: 10px;
}

.user-thread-title, .user-thread-counts {
    margin-left: 20px;
    text-align: left;
    font-size: 18pt;
}

.user-thread-title + .question, .user-thread-counts + .question {
    margin-top: 5px;
}

.user-thread-collapse {
    margin: 12px;
    cursor: pointer;
}

.question {
    margin: 45px auto;
    border: 4px solid #fff;
    padding: 20px;
    text-align: center;
    color: #fff;
    position: relative;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    white-space: pre-line;
}


.question:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    right: 20px;
    bottom: -23px;

}



.question:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #121212;
    border-top: 10px solid #121212;
    border-bottom: 10px solid transparent;
    right: 24px;
    bottom: -13px;
}

.user-thread .question:after {
    border-right: 10px solid #333;
    border-top: 10px solid #333;
}

.reply {
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    color: #121212;
    position: relative;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
    white-space: pre-line;
}


.reply:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #121212;
    border-right: 10px solid transparent;
    border-top: 10px solid #121212;
    border-bottom: 10px solid transparent;
    left: 20px;
    bottom: -23px;
}

.user-thread .reply:before {
    border-left: 10px solid #333;
    border-top: 10px solid #333;
}

.reply:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #fff;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
    left: 24px;
    bottom: -13px;
}

.reply-box {
    text-align: left;
    margin-top: -20px;
}

.reply-box.hide {
    display:none;
}

.question.hidden, .reply.hidden {
    display:none;
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0.25;
    }
}

.flash {
    animation-name: flash;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.reply-question {
    position:absolute;
    top: 10px;
    right: 40px;
    cursor:pointer;
}

.controls {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.question-asker, .replier {
    margin-top: 10px;
    opacity: 0.5;
    width: 100%;
    text-align: right;
    display: block;
}

.replier {
    color: #121212;
}

.question .replier {
    display:none;
}

/* Group chat */

.group-chat .message {
    margin: 20px auto;
}

.group-chat .question-list {
    max-height: 600px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    scrollbar-width: thin;
    scrollbar-color: white #444;
}

.group-chat .question-list::-webkit-scrollbar {
    width: 10px;
}

.group-chat .question-list::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #444;
}

.group-chat .question-list::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: none;
}

.fa-volume-mute {
    opacity: 0.25;
}

.question .fa-volume-mute {
    display: none !important;
}

.is-muted .fa-volume-mute {
    opacity: 1;
    color: red;
}

.fa-volume-mute:hover {
    opacity: 0.75;
}

/* End Group chat*/
/* Player css */
.theo-primary-color,
.vjs-selected {
    color: #d9d9d9 !important;
}

.theo-primary-background {
    color: #000000 !important;
    background-color: #d9d9d9 !important;
}

.theo-secondary-color {
    color: #ffffff !important;
}

.theo-secondary-background {
    color: #000000 !important;
    background-color: #ffffff !important;
}

.theo-tertiary-color {
    color: #000000 !important;
}

.theo-tertiary-background {
    color: #ffffff !important;
    background-color: #000000 !important;
}



.stream-countdown-info {
    padding-top: 5em;
}

.stream-countdown {
    line-height: 5;
    padding-bottom: 4em;
}

.stream-unavailable {
    padding: 30px 0;
    text-align: center;
}

.choose-nickname {
    margin-top:50px;
}

.stream-countdown-wrapper > * {
    grid-area: 1/1;
}

/* Count-down, end-of-event, technical-difficulties*/

.stream-countdown {
    position:relative;
    bottom: 10px;
    right: 10px;
}