/* Count-down, end-of-event, technical-difficulties*/
.stream-countdown-wrapper,
.end-of-event-wrapper,
.technical-difficulties-wrapper,
.alternate-login-wrapper {
    display: none;
    position: relative;
}

.has-countdown .video-js, .end-of-event .video-js, .technical-difficulties .video-js,
.has-countdown .client-hosted-embed, .end-of-event .client-hosted-embed, .technical-difficulties .client-hosted-embed {
    display: none;
}


.has-countdown .stream-countdown-wrapper,
.end-of-event .end-of-event-wrapper,
.technical-difficulties .technical-difficulties-wrapper {
    display: grid;
}

.stream-countdown-wrapper > * {
    grid-area: 1/1;
}

.stream-countdown-wrapper-inner {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.stream-unavailable {
    padding: 30px 0;
    text-align: center;
}