
html, body {
    background-color: #132e50;
    color: #fff;
    font-family: Opensans,Helvetica,Arial,Verdana,sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.429;
}

textarea {
    font-family: Opensans,Helvetica,Arial,Verdana,sans-serif;
}

.container-fluid {
    padding: 0;
}

.row, .stream {
    margin: 0;
    padding: 0;
}

header {
    background-color: #132e50;
}

.navbar-brand img {
    width: auto;
}

.user-thread {
    background-color: #132e50;
    margin-bottom: 10px;
    padding: 10px;
}

.user-thread-title, .user-thread-counts {
    margin-left: 20px;
    text-align: left;
    font-size: 18pt;
}

.user-thread-title + .question, .user-thread-counts + .question {
    margin-top: 5px;
}

.user-thread-collapse {
    margin: 12px;
    cursor: pointer;
}

.question {
    background-color: #132e50;
    border: 4px solid #fff;
    color: #fff;
}


.question:before {
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
}

.question:after {
    border-right: 10px solid #132e50;
    border-top: 10px solid #132e50;
}

.user-thread .question:after {
    border-right: 10px solid #132e50;
    border-top: 10px solid #132e50;
}

.reply {
    background-color: #132e50;
    border: 4px solid #fff;
    color: #fff;
}

.reply:before {
    border-left: 10px solid #fff;
    border-top: 10px solid #fff;
}

.user-thread .reply:before {
    border-left: 10px solid #fff;
    border-top: 10px solid #fff;
}

.reply:after {
    border-left: 10px solid #132e50;
    border-top: 10px solid #132e50;
}

.btn {
    border-radius: 0 !important;
    border-color: #fff !important;
    color: #fff !important;
    background-color: transparent !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #132e50 !important;
    border-color: #fff !important;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary:hover {
    color: #132e50 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.replier {
    color: #ccc;
}

h2 {
    font-family: Opensans,Helvetica,Arial,Verdana,sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

p {
    font-family: Opensans,Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.429;
    color: #fff;
}

.ask-question {
    padding-top: 20px;
    letter-spacing: 0.6px;
}

.ask-question h2 {
    text-transform: uppercase;
}

.ask-question-form textarea {
    max-width: 70%;
    padding: 10px;
}
.ask-question-form input[type=submit] {
    vertical-align: bottom !important;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-size: 14px;
    padding: .375rem 1rem;
}

@media (max-width: 765.98px) {
    html {
        font-size: 12px;
    }
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
    .reply, .question {
        padding: 5px 20px 5px 5px;
        font-size: 12px;
    }

    .controls {
        top: 5px;
        right: 5px;
    }

    textarea {
        font-size: 12px;
    }

    .ask-question-form input[type=submit] {
        font-size: 12px;
    }
}
